<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing -neighbour updated</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/landing.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<!-- <style>
    body{
        background-image: url(https://media.istockphoto.com/vectors/abstract-globe-background-vector-id1311148884?k=20&m=1311148884&s=612x612&w=0&h=2zFGLiw0VmQbh_CFQgbTzaaamRygqILdq1T8QuglBSQ=) !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   }
</style> -->
<body style="background-image: url(https://media.istockphoto.com/vectors/abstract-globe-background-vector-id1311148884?k=20&m=1311148884&s=612x612&w=0&h=2zFGLiw0VmQbh_CFQgbTzaaamRygqILdq1T8QuglBSQ=) !important;
background-position: center;
background-repeat: no-repeat;
background-size: cover;">
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <h1 class="button is-white is-outlined">Neighbar Updated</h1>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="{% url 'newshome' %}">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <!-- <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
                                    <span>Examples</span>
                                </a>
                            </span> -->
                            <span class="navbar-item">
                                <a class="button is-white is-outlined"  href="{% url 'profile' %}" >
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <span>Profile</span>
                                </a>
                            </span>
                           
                            <div class="navbar-item has-dropdown is-hoverable is-dark">
                              
                                <a class="navbar-link  is-white is-outlined">
                                    <span style="color:rgb(17, 1, 1);font-size:2rem ">Hello, {{user}}</span>
                                </a>
                              
                                <div class="navbar-dropdown" style=" background-color:rgb(250, 247, 253);color: red;">
                                  <a class="navbar-item  is-black is-outlined drop" style=" color:black">
                                  Settings
                                  </a>
                                  <a class="navbar-item  is-white is-outlined"  href="{% url 'profile' %}" style=" color:black">
                                    Profile
                                  </a>
                                  <a class="navbar-item  is-white is-outlined" class="navbar-item" style=" color:black" class="button is-white is-outlined" href="{% url 'logout' %}">
                                    Logout
                                  </a>
                                  
                                </div>
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Coming Soon
                        </h1>
                        <h2 class="subtitle">
                            $this is the best Website platform for accessing any internet updates. We handle billions of updates every year for forward-thinking news updates around the world.
                        </h2>
                          <a href="{% url 'newshome' %}" class="button is-white is-inverted" style="text-decoration: none;">Next&ensp;<i class="fad fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

    </section>
      <footer class="footer" style="background-color: rgb(4, 22, 31);">
        <div class="content has-text-centered">
          <p>
            <strong>JoeGakumo</strong> by <a href="#">Joe Gakumo</a>. The source code is licensed
            <a href="#">MIT</a>. The website content
            is licensed <a href="#">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </footer>
  

    <script >
    document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});
    </script>
</body>

</html>