<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing -neighbour updated</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/landing.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar" style="background-color: rgb(42, 53, 52);">
                <div class="container">
                    <span class="navbar-item">
                        <a class="button is-white is-outlined" href="{% url 'newshome'%}">
                            <span class="icon">
                                <i class="fa fa-home"></i>
                            </span>
                            <span>Home</span>
                        </a>
                    </span>
                    <span class="navbar-item">
                        <a class="button is-white is-outlined" href="{% url 'home'%}">
                        <span>Back</span>
                    </a>
                    </span>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="navbar-item has-dropdown is-hoverable is-dark">
                              
                                <a class="navbar-link  is-white is-outlined">
                                    <span style="color:rgb(17, 1, 1);font-size:2rem ">Hello, {{user}}</span>
                                </a>
                              
                                <div class="navbar-dropdown" style=" background-color:rgb(250, 247, 253);color: red;">
                                  <a class="navbar-item  is-black is-outlined drop" style=" color:black" href="{% url 'home' %}">
                                  Home
                                  </a>
                                  
                                  <a class="navbar-item  is-white is-outlined" class="navbar-item" style=" color:black" class="button is-white is-outlined" href="{% url 'logout' %}">
                                    Logout
                                  </a>
                                  
                                </div>
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="container m-5">
                <div class="row">
                 <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                          Keep Updated Neighbar
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a style="text-decoration: none;color:red;font-size: 2rem;">Click below links to search by Category</a>
                             </li>
                            <li class="list-group-item">
                               <a href="{% url 'newshome' %}" style="text-decoration: none;">All News</a>
                            </li>
                           
                            {% for category in categories %}
                            <li class="list-group-item">
                                <a href="{% url 'newshome' %}?category={{category.name}}" style="text-decoration: none;">{{category.name}}</a>
                            </li>
                            {%endfor%}
                           <a href="{% url 'addnews' %}" class=" btn btn-primary  btn-sm m-1">Add news</a>
                        </ul>
                      </div>
                 </div>
                 <div class="col-md-9">
                     <div class="row">
                         {% for newsContent in newsContents %}
                         <div class="col-md-4 col-sm-12 mb-2">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{newsContent.image.url}}" alt="Card image cap">
                                <div class="card-body">
                                  <p>{{newsContent.category.name}}</p>                          
                                  <a href="{% url 'newsdetails' newsContent.id  %}" class="btn btn-primary">View</a>
                                </div>
                              </div>
                         </div>   
                         {% empty %}
                         <h3>No Image neither details on this news category</h3>
                         {% endfor %}             
                     </div>
                 </div>
                </div>
              </div>

    </section>
    <footer class="footer" style="background-color: rgb(4, 22, 31);">
        <div class="content has-text-centered">
          <p>
            <strong>JoeGakumo</strong> by <a href="#">Joe Gakumo</a>. The source code is licensed
            <a href="#">MIT</a>. The website content
            is licensed <a href="#">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </footer>

    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>