<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News article</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="m-5">
    <div class="container">
        <div class="row justify-content-center">
           
            <div class="col">
                <a href="{% url 'home' %}" class="btn btn-sm btn-primary m-2">Back</a>
                <img class="card-img-top" src="{{content.image.url}}" alt="Card image cap" height="90%">
                <span><p class="mt-1 text-info">{{content.category}}</p></span>
                <p>Posted on {{content.date_posted}}</p> 
   
                <p>{{content.description}}</p>
                <p class="text-success">Source News :{{content.postedby}}</p>
            </div>
         
            </div>
          </div>
    </div>
</body>
</html>